
Listary Pro v5.00.2581/Listary Pro/UserData/DiskSearch.db
Listary Pro v5.00.2581/Listary Pro/UserData/History_v2.sqlite-journal
Listary Pro v5.00.2581/Listary Pro/UserData/History_v2.sqlite
Listary Pro v5.00.2581/Listary Pro/UserData/History_v2.sqlite-journal
*.sqlite
*.sqlite-journal
*.dpl
*.dpl
PotPlayer64/Playlist/PotPlayerMini64.dpl
Listary Pro v5.00.2581/Listary Pro/UserData/History_v2.sqlite-journal
Listary Pro v5.00.2581/Listary Pro/UserData/History_v2.sqlite
